---

---

<!doctype html>
<html lang="en" data-theme="emerald" class="w-screen h-screen">
  <head>
    <meta charset="UTF-8" />
    <title>Sensor de Gas</title>
  </head>
  <body>
    <div class="navbar bg-gradient-to-r from-blue-200 to-cyan-200 absolute">
      <a class="btn btn-ghost text-xl">Sensor de Gas</a>
    </div>
    <div class="hero min-h-screen bg-gradient-to-r from-gray-100 to-gray-300">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <button
            class="btn btn-lg bg-gradient-to-r from-cyan-500 to-blue-500"
            id="request-access">Conectar a Arduino</button
          >
          <div class="flex justify-center items-center py-4">
            <img id="fan" src="fan.png" width="130" class="paused" />
          </div>

          <div id="status" class="btn btn-ghost btn-lg">Ambiente sin gas</div>
          <progress
            id="concentration"
            class="progress progress-primary w-56"
            value="0"
            max="500"></progress>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  import * as SimpleWebSerial from "simple-web-serial";
  const connection = SimpleWebSerial.setupSerialConnection({
    requestElement: "request-access",
  });

  const status = document.getElementById("status")! as HTMLButtonElement;
  const dangerSound = new Audio("danger.mp3") as HTMLAudioElement;
  const fan = document.getElementById("fan") as HTMLImageElement;
  const concentrationBar = document.getElementById(
    "concentration"
  ) as HTMLProgressElement;

  connection.on("smoke", function (data: string) {
    let concentration = parseFloat(data);
    concentrationBar.value = concentration;
    if (concentration < 300) {
      fan.classList.add("paused");
      dangerSound.pause();
    } else if (concentration >= 300 && concentration <= 400) {
      fan.classList.remove("paused");
      dangerSound.play();
    } else if (concentration >= 400) {
      fan.classList.remove("paused");
      dangerSound.play();
    }
  });
</script>

<style>
  .paused {
    animation-play-state: paused !important;
  }

  #fan {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
</style>
