---

---

<!doctype html>
<html lang="en" data-theme="emerald" class="w-screen h-screen">
  <head>
    <meta charset="UTF-8" />
    <title>Sensor de Gas</title>
  </head>
  <body>
    <img src="kitchen.jpg" class="" />

    <img
      id="fan"
      src="fan.png"
      width="75"
      class="paused fixed z-50 top-52 left-64"
    />

    <div id="status" class="btn btn-ghost btn-md">Ambiente sin gas</div>
    <div class="semaforo">
      <div id="verde" class="luz verde"></div>
      <div id="amarillo" class="luz amarillo opacity-0"></div>
      <div id="rojo" class="luz rojo opacity-0"></div>
    </div>
  </body>
</html>

<script>
  import * as SimpleWebSerial from "simple-web-serial";
  const connection = SimpleWebSerial.setupSerialConnection({
    requestAccessOnPageLoad: true,
  });

  const status = document.getElementById("status")! as HTMLButtonElement;
  const dangerSound = new Audio("danger.mp3") as HTMLAudioElement;
  const fan = document.getElementById("fan") as HTMLImageElement;
  const green = document.getElementById("verde") as HTMLDivElement;
  const yellow = document.getElementById("amarillo") as HTMLDivElement;
  const red = document.getElementById("rojo") as HTMLDivElement;

  connection.on("smoke", function (data: string) {
    let concentration = parseFloat(data);
    if (concentration < 300) {
      status.innerHTML = "Ambiente sin gas";
      fan.classList.add("paused");
      dangerSound.pause();
      green.classList.remove("opacity-0");
      yellow.classList.add("opacity-0");
      red.classList.add("opacity-0");
    } else if (concentration >= 300 && concentration <= 400) {
      status.innerHTML = "Gas detectado";
      fan.classList.remove("paused");
      dangerSound.pause();
      green.classList.add("opacity-0");
      yellow.classList.remove("opacity-0");
      red.classList.add("opacity-0");
    } else if (concentration >= 400) {
      status.innerHTML = "Alta concentracion de gas";
      fan.classList.remove("paused");
      dangerSound.play();
      green.classList.add("opacity-0");
      yellow.classList.add("opacity-0");
      red.classList.remove("opacity-0");
    }
  });
</script>

<style>
  .paused {
    animation-play-state: paused !important;
  }

  #fan {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .semaforo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-left: -550px;
  }

  .luz {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
  }

  .rojo {
    background-color: red;
  }

  .amarillo {
    background-color: yellow;
  }

  .verde {
    background-color: green;
  }
</style>
